*{
	margin: 0px;
	padding: 0px;
	font: inherit;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.prompt {
	display: none;
}

.login_prompt {
	width: 100%;
	display: none;
}

.add_again_button {
	margin-top: 10px;
	padding: 10px;
	background-color: #333333;
	color: #FFF;
	border: 1px solid #9C9C9C;
	display: none;
}

.empty {	
	color: #DD3C10;
}

.error {
	background-color: #FFEBE8;
	border: 1px solid #DD3C10;
	padding: 10px;
	margin-top: 10px;
	color: #DD3C10;
}

.success {
	padding: 10px;
	color: #4F8A10;  
    background-color: #DFF2BF;
	border: 1px solid #6E8A10;
	margin-top: 10px;
}

.reminder {
	padding: 10px;
	margin-top: 10px;
	color: #DD3C10;
}

.hidden_link {
	display: none;
}

abbr[title], acronym[title] {
    border-bottom-width: 0;
}

/* loading */

.search_loading{
	text-align: center;
	margin-top: 10px;
	display: none;
}

.center_loading{
	display: none;
}

.execute_loading{
	position: absolute;
	bottom: 5px;
	left: 125px;
	display: none
}

.side_loading {
	vertical-align: middle;
	margin-left: 10px;
	display: none;
}

input:focus, textarea:focus { 
	outline: none;
}

h1 {	
	font-size: 30px;
}

#header {
	padding: 10px;
}

#header h1 {
	color: #333333;
	font-weight: bold;
}

#header li {
	list-style: none;
	display: inline;
	margin-right: 10px;
}

#header ul {
	margin-top: 11.5px;
	position: relative;
}

#header li a{
	text-decoration: none;
	color: #333333;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	padding: 10px;
}

#header li a.active {
	color: blue;
	font-weight: bold; 
	background-color: #FAFAFA;
}

/* Header Subs*/

.nav_sub_wrap {
	width: 205px;
	min-height: 50px;
	position: absolute;
	top: 20px;
	right: 0px;
	display: none;
}

.nav_sub_arrow{
	width: 100%;
	height: 30px;
	position: relative;
	background-image: url('../images/arrow_up.png');
	background-repeat: no-repeat;
	background-position: 142px 0px;
	z-index: 30;
}

.nav_sub {
	border: 1px solid #D5D6D6;
	width: 100%;
	min-height: 50px;
	position: relative;
	background-color: #FFF;
	margin-top: -10px;
	z-index: 20;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#header li ul {
	margin-top: 0px;
	padding: 5px 0px 5px 0px
}

#header li li {
	display: block;
	width: 100%;
}

#header li  li a{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.hover_list {
	color: blue;
	cursor: pointer;
	background-color: #FAFAFA;
	border-top: 1px solid #D5D6D6;
	border-bottom: 1px solid #D5D6D6;
}

/* Main */
#main {
	padding: 10px;
	margin-top: 10px;
	height: 100%;
	min-height: 150px;
	background-color: #FAFAFA;
	border: 1px solid #ABADB3;
}

#main h1 {
	color: #0066CC;
}

/* Main Search */

#main_search {
	
}

#main_add {
	min-height: 200px;
	padding: 10px;
	margin-top: 20px;
	display: none;
}

#main_add table {
	border: none;
	border-collapse: collapse;
}

#main_add tr {
	border-top: 1px solid #D5D6D6;
	border-bottom: 1px solid #D5D6D6;
}

#main_add tr:last-child {
	border: none;
}

#main_add table td {
	border-right: 1px solid #D5D6D6;
	padding: 10px;
	text-align: left;
}

#main_add table td:last-child {
	border-right: none;
}

#main_add table td input[type="text"] {
	border: 1px solid #ABADB3;
	padding: 5px;
	width: 190px;
}

#main_add table td input[type="submit"] {
	background-color: #333333;
	border: 1px solid #9C9C9C;
	color: #FFFFFF;	
	padding: 10px;
}


/*Start of the wrap and header and intro*/

#wrap {
	background-color: #FAFAFA;
	border: 1px solid #D5D6D6;
}

#intro {
	height: 273px;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#intro h1{
	font-size: 60px;
	text-align: center;
	margin-top: 10px;
}

#intro p{
	text-align: center;
	color: #888888;
	font-size: 20px;
	margin-top: 25px;
}

#login {
	min-height: 267px;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#login label {
	display: block;
	margin-top: 15px;
}

#login input[type=text]{
	display: block;
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	height: 25px;
	border: 1px solid #ABADB3;
}

#login input[type=password]{
	display: block;
	margin-top: 10px;
	padding: 10px;
	height: 25px;
	border: 1px solid #ABADB3;
	width: 100%;
}

#login input[type=submit]{
	margin-top: 10px;
	padding: 10px;
	background-color: #6F8696;
	color: #fff;
	border: 1px solid #989898;
}

/*Start of the wrap and header and intro*/

#footer {
	margin-top: 20px;
	padding: 10px;
	border-top: 1px solid #D5D6D6 ;
}

#footer li {
	list-style: none;
	display: inline;
}

#footer li a {
	text-decoration: none;
	color: #0066CC;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#footer #copyright {
	color: #777777;
}



