*{
	margin: 0px;
	padding: 0px;
	font: inherit;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.prompt {
	display: none;
}

.add_again_button {
	margin-top: 10px;
	padding: 10px;
	background-color: #333333;
	color: #FFF;
	border: 1px solid #9C9C9C;
	display: none;
}

.empty {	
	color: #DD3C10;
}

.error {
	background-color: #FFEBE8;
	border: 1px solid #DD3C10;
	padding: 10px;
	margin-top: 10px;
	color: #DD3C10;
}

.success {
	padding: 10px;
	color: #4F8A10;  
    background-color: #DFF2BF;
	border: 1px solid #6E8A10;
	margin-top: 10px;
}

.reminder {
	padding: 10px;
	margin-top: 10px;
	color: #DD3C10;
}

/* loading */

.search_loading{
	text-align: center;
	margin-top: 10px;
	display: none;
}

.center_loading{
	display: none;
}

.execute_loading{
	position: absolute;
	bottom: 5px;
	left: 125px;
	display: none;
}

.active {
	font-weight: bold; 
	background-color: #EDEDED;
	border: 1px solid #C5C5C5;
}

h1 {	
	font-size: 30px;
}

#header {
	padding: 10px;
}

#header h1 {
	color: #333333;
	font-weight: bold;
}

#header li {
	list-style: none;
	display: inline;
	margin-right: 10px;
}

#header ul {
	margin-top: 11.5px;
}

#header li a{
	text-decoration: none;
	color: #333333;
	padding: 10px;
}

#main {
	padding: 10px;
	margin-top: 10px;
	height: 100%;
	min-height: 150px;
	background-color: #FAFAFA;
	border: 1px solid #ABADB3;
}

#main h1 {
	color: #0066CC;
}

#wrap {
	background-color: #FAFAFA;
	border: 1px solid #D5D6D6;
}

#intro {
	width: 532px;
	height: 273px;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#intro h1{
	font-size: 60px;
	text-align: center;
	margin-top: 5px;
}

#intro p{
	text-align: center;
	color: #888888;
	font-size: 20px;
	margin-top: 25px;
}

#login {
	width: 400px;
	min-height: 267px;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#login label {
	display: block;
	margin-top: 15px;
}

#login input[type=text]{
	display: block;
	margin-top: 10px;
	padding: 10px;
	width: 375px;
	height: 25px;
	border: 1px solid #ABADB3;
}

#login input[type=password]{
	display: block;
	margin-top: 10px;
	padding: 10px;
	width: 375px;
	height: 25px;
	border: 1px solid #ABADB3;
}

#login input[type=submit]{
	display: block;
	margin-top: 10px;
	padding: 10px;
	background-color: #6F8696;
	color: #fff;
}

#footer {
	margin-top: 20px;
	padding: 10px;
	border-top: 1px solid #D5D6D6 ;
}

#footer li {
	list-style: none;
	display: inline;
}

#footer li a {
	text-decoration: none;
	color: #0066CC;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#footer #copyright {
	color: #777777;
}



